
.logo-tesla {
    width: 70px; 
    height: auto; 
    border-radius: 0 
}

.navbar-nav .nav-link {
    
    font-weight: 500;
    font-size: 10px; 
}

.item_right {

    margin-left: auto;
}

.hero-section {
    height: 70vh;
    position: relative;
    padding: 0;
}

#heroCarousel {
    height: 100%;
}

#heroCarousel .carousel-item {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#heroCarousel .carousel-item[data-slide-id="model-y"] {
    background-image: url('./img/model-y.avif');
}

#heroCarousel .carousel-item[data-slide-id="model-3"] {
    background-image: url('./img/model3.avif');
}

.hero-content {
    height: 100%; 
    padding-top: 100px;
    padding-bottom: 70px;
   
}

#btn{
    width: 260px;
    font-weight: 500;
}


.card.card-overlay-img {
    height: 350px; 
    border: none; 
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.card-overlay-img .card-body {
    height: 100%;
    
}

.custom-color {
    background-color: rgba(189, 188, 188, 0.459);
}


.card {
    position: relative; 
    overflow: hidden; 
}

.card-img-bg-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.card-img-tag-cover {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; 
    top: 0;
    left: 0;
    padding: 0; 
}

.offerta {
    font-size: 12px;
}

.policy {
    display: flex;
    font-size: 10px;
    gap: 30px;
    justify-content: center;
    flex-wrap: wrap; 
    margin-bottom: 0;
}